/*fade*/
.fade-leave-active,
.fade-enter-active {
  transition: all .5s;
}

.fade-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.fade-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
