#layout {
  height: 100%;
}
#layout.layout-head.theme-light{
  #logo{
    height: 64px;
    border-bottom: 1px solid whitesmoke;
    background:white;
  }
  #header{
    padding-left: 0px;
    padding-right: 15px;
  }
}
#layout.layout-head.theme-dark{
  #logo{
    height: 64px;
    border-bottom: 1px solid #101117;
    background: #191a23;
  }
  #header{
    padding-left: 0px;
    padding-right: 15px;
    background-color:#191a23;
    color: white;
  }
  .ant-layout-header{
    background-color:#191a23;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  }
}
#layout.theme-dark.layout-side{
  #logo{
    height: 64px;
    border-bottom: 1px solid #101117;
    background: #191a23;
  }
  #header{
    padding-left: 15px;
    padding-right: 15px;
  }
  .ant-layout-sider{
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    z-index: 999;
  }
}
#layout.theme-light.layout-side{
  #logo{
    height: 64px;
    border-bottom: 1px solid whitesmoke;
    background:white;
  }
  #header{
    padding-left: 15px;
    padding-right: 15px;
  }
  .ant-layout-sider{
    box-shadow: 2px 0 8px 0 rgba(29,35,41,.05)!important;
    background-color: white!important;
    z-index: 999;
  }
}
#layout.theme-dark.layout-comp{
  #logo{
    height: 64px;
    border-bottom: 1px solid #101117;
    background: #191a23;
  }
  #header{
    padding-left: 15px;
    padding-right: 15px;
  }
  .ant-layout-header{
    .comp-menu{
      display: inline-block;
      height: 64px;
      line-height: 64px;
      padding-left: 30px;
      .menu-item{
        color: unset;
        height: 64px;
        line-height: 64px;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14.5px;
      }
      .is-active{
        background-color: whitesmoke;
      }
    }
    background-color: white!important;
    
  }
  .ant-layout-sider{
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    z-index: 999;
  }
}
#layout.theme-light.layout-comp{
  #logo{
    height: 64px;
    border-bottom: 1px solid whitesmoke;
    background:white;
  }
  #header{
    padding-left: 15px;
    padding-right: 15px;
  }
  .ant-layout-header{
    .comp-menu{
      display: inline-block;
      height: 64px;
      line-height: 64px;
      padding-left: 30px;
      .menu-item{
        height: 64px;
        line-height: 64px;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14.5px;
      }
      .is-active{
        background-color: whitesmoke;
      }
    }
    background-color: white!important;
  }
  .ant-layout-sider{
    box-shadow: 2px 0 8px 0 rgba(29,35,41,.05)!important;
    z-index: 999;
    background-color: white!important;
  }
}
#layout.theme-night{
  #logo{
    height: 64px;
    border-bottom: 1px solid #101117;
    background: #191a23;
  }
  #header{
    .comp-menu{
      display: inline-block;
      height: 64px;
      line-height: 64px;
      padding-left: 30px;
      .menu-item{
        color: white;
        height: 64px;
        line-height: 64px;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14.5px;
      }
      .is-active{
        border-top: 3px solid #2d8cf0 !important;
      }
    }
    background: #191a23!important;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }
  .ant-layout-sider{
    background: #191a23!important;
  }
  .ant-layout-content{
    background: black!important;
    .ant-card{
      border: solid 1px #191a23!important;
      background: #191a23!important;
      color: white!important;
    }
    .ant-statistic-title{
      color: white!important;
    }
    .ant-tabs-tab{
      color: white;
      background-color: #191a23!important;
    }
  }
  .ant-drawer-content{
    background-color: #191a23!important;
  }
}

#layout .ant-layout-header {
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}
// 菜单样式
.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 48px;
  line-height: 48px;
}
.ant-menu-vertical > .ant-menu-item,
.ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-item,
.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 48px !important;
  line-height: 48px !important;
}
.ant-layout-sider {
  background: #191a23 !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #2d8cf0 !important;
}
.ant-menu-dark,
.ant-menu-dark {
  background: #191a23 !important;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background-color: #101117 !important;
}
.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
  background-color: #191a23 !important;
}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
  border-bottom: none;
  top: 0px;
}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu:hover{
  border-bottom: none;
  top: 0px;
}

#logo {
   text-align: center;
  }
  #logo img{
    height: 59px;
    width: 59px;
  }
  #header {
    background-color: white;
  }
  #header .next-menu {
    float: right;
  }
  #header .prev-menu{
    display: inline-block;
  }
  #header .head-logo{
    width:250px;
    height: 64px;
    display: inline-block;
  } 
  #header .head-menu{
    .ant-menu{
      height: 64px;
      line-height: 64px;
    }
    display: inline-block;
  }
  #header .prev-menu .menu-item,
  #header .next-menu .menu-item {
    font-size: 17px;
    padding: 0 15px;
    cursor: pointer;
    transition: color 0.3s;
  }
  #header .prev-menu .menu-item:hover,
  #header .next-menu .menu-item:hover {
    color: #2d8cf0;
  }
  #tab .tab {
    width: calc(100% - 40px);
    display: inline-block;
  }
  #tab .tab-tool {
    float: right;
    top: 6px;
    right: 6px;
    border: none;
  }
  #tab .ant-tabs-bar {
    margin: 0px !important;
    border: none;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
  }
  #tab .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
    color:#2d8cf0 !important
  }
  #tab .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    border-radius: 3px;
    border: none;
    margin-right: 4px;
    margin-left: 4px;
    height: 34px !important;
    line-height: 34px !important;
    color: #808695;
    background-color: white;
  }
  
  #tab .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:first-child {
    margin-left: 6px;
  }
  #tab .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:last-child {
    margin-right: 6px;
  }
  #tab .ant-tabs-nav-container {
    height: 34px;
  }

  /** 主 题 选 择 界 面 样 式 */
.pearone-color .color-title {padding: 15px 0 0px 20px;margin-bottom: 4px;}
.pearone-color .color-content {
	padding: 15px 10px 0 20px;
}
.pearone-color .color-content ul {
	list-style: none;
	padding: 0px;
}
.pearone-color .color-content ul li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 70px;
	height: 50px;
	margin: 0 20px 20px 0;
	padding: 2px 2px 2px 2px;
	background-color: #f2f2f2;
	cursor: pointer;
	font-size: 12px;
	color: #666;
}
.pearone-color .color-content li.layui-this:after,
.pearone-color .color-content li:hover:after {
	width: 81px;
	height: 63px;
	top: -6px;
	left: -5px;
	border: #5FB878 2px solid;
	opacity: 1;
	border-radius: 4px;
}
.pearone-color .color-content li:after {
	content: '';
	position: absolute;
	z-index: 20;
	top: 50%;
	left: 50%;
	width: 1px;
	height: 0;
	border: 1px solid #F2F2F2;
	transition: all .3s;
	-webkit-transition: all .3s;
	opacity: 0;
}
.select-color {
	margin-bottom: 30px;
}
.select-color .select-color-title {
	padding: 10px 0 0px 20px;
	margin-bottom: 4px;
}
.select-color .select-color-content {
	padding: 20px 0 0px 0px;
	margin-bottom: 4px;
}
.select-color .select-color-content .select-color-item {
	background-color: gray;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	float: left;
	margin-left: 20px;
	color: white;
	font-size: 18px;
	text-align: center;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
	line-height: 30px;
}