// 基础布局
#layout {
  height: 100%;
}
#layout .ant-layout-header {
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}
#layout .ant-layout-sider {
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  z-index: 999;
}
#layout .dark {
  background-color: #191a23 !important;
}
#layout .light {
  border-bottom: 1px solid whitesmoke;
  background-color: white !important;
}

// 菜单样式
.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 48px;
  line-height: 48px;
}
.ant-menu-vertical > .ant-menu-item,
.ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-item,
.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 48px !important;
  line-height: 48px !important;
}
.ant-layout-sider {
  background: #191a23 !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #2d8cf0 !important;
}
.ant-menu-dark,
.ant-menu-dark {
  background: #191a23 !important;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background-color: #101117 !important;
}
.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
  background-color: #191a23 !important;
}

// 图标样式
.logo {
    height: 65px;
    font-size: 22px;
    text-align: center;
    padding: 3px;
    color:white;
    border-bottom: 1px solid #101117;
    background: #191a23;
  }
  .logo img{
    height: 59px;
    width: 59px;
  }
  .dark{
    background-color:  #191a23!important;
  }
  .light{
      border-bottom: 1px solid whitesmoke;
    background-color: white!important;
  }

  // 顶部样式

  #header {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
  }
  #header .next-menu {
    float: right;
  }
  #header .prev-menu {
    display: inline-block;
  }
  #header .prev-menu .menu-item,
  #header .next-menu .menu-item {
    font-size: 17px;
    padding: 0 15px;
    cursor: pointer;
    transition: color 0.3s;
  }
  #header .prev-menu .menu-item:hover,
  #header .next-menu .menu-item:hover {
    color: #2d8cf0;
  }

  //多选项卡

  #tab .tab {
    width: calc(100% - 40px);
    display: inline-block;
  }
  #tab .tab-tool {
    float: right;
    top: 6px;
    right: 6px;
    border: none;
  }
  #tab .ant-tabs-bar {
    margin: 0px !important;
    border: none;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
  }
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
    color:#2d8cf0 !important
  }
  #tab .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    border-radius: 0px;
    border: none;
    margin-right: 3px;
    margin-left: 3px;
    height: 34px !important;
    line-height: 34px !important;
    border-radius: 3px;
    color: #808695;
    background-color: white !important;
  }
  #tab .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:first-child {
    margin-left: 6px;
  }
  #tab .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:last-child {
    margin-right: 6px;
  }
  #tab .ant-tabs-nav-container {
    height: 34px;
  }

