/** 菜单选中色 */
.theme-yellow .ant-menu.ant-menu-dark .ant-menu-item-selected,
.theme-yellow .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: rgb(255, 184, 0) !important;
}
/** 选项卡选中色 */
.theme-yellow  #tab .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active::before{
    background-color: rgb(255, 184, 0) !important
}
/** 主题选中颜色 */
.theme-yellow .pearone-color .color-content li.layui-this:after,
.theme-yellow .pearone-color .color-content li:hover:after {
    border: rgb(255, 184, 0) 2.3px solid;
}
/** 进度条颜色 */
.theme-yellow .ant-progress-success-bg,.theme-yellow .ant-progress-bg{
    background-color: rgb(255, 184, 0)!important;
}
/** 开关选中色 */
.theme-yellow .ant-switch-checked{
    background-color: rgb(255, 184, 0)!important;
}
/** 主题按钮色 */
.theme-yellow .ant-btn-primary{
    background-color: rgb(255, 184, 0)!important;
    border: 1px solid rgb(255, 184, 0)!important;
}
/** 选项卡主题色 */
.theme-yellow .ant-tabs-nav .ant-tabs-tab-active,
.theme-yellow .ant-tabs-nav .ant-tabs-tab:hover{
    color: rgb(255, 184, 0)!important;
}
.theme-yellow .ant-tabs-ink-bar{
    background-color:  rgb(255, 184, 0)!important;
}
.theme-yellow  .ant-radio-inner::after{
    background-color:  rgb(255, 184, 0)!important;
}

.theme-yellow  .ant-radio-checked .ant-radio-inner{
    border-color: rgb(255, 184, 0)!important;
}

/** 分步表单样式 */
.theme-yellow .ant-steps-item-process .ant-steps-item-icon{
    border-color: rgb(255, 184, 0)!important;
    background-color:  rgb(255, 184, 0)!important;
}
.theme-yellow .ant-steps-item-finish .ant-steps-item-icon{
    border-color: rgb(255, 184, 0)!important;
}
.theme-yellow .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
    color: rgb(255, 184, 0)!important;
}
.theme-yellow .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
    background-color:  rgb(255, 184, 0)!important;
}
.theme-yellow.theme-light.layout-comp .ant-layout-header .comp-menu .menu-item{
    color: rgb(255, 184, 0)!important;
}
.theme-yellow .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
    color: white!important;
    background-color: rgb(255, 184, 0)!important;
}

.theme-yellow  #logo .title{
    display: inline-block;
    color:rgb(255, 184, 0) !important;
    font-size: 23px;
    margin-top: 2px;
    height: 60px;
    font-weight: 600;
    line-height: 53px;
  }