body,
html {
  height: 100%;
}

#layout {
  height: 100%;
}

#layout .ant-layout-header {
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

#layout .ant-layout-sider {
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  z-index: 999;
}

.dark {
  background-color: #191a23 !important;
}

.light {
  border-bottom: 1px solid whitesmoke;
  background-color: white !important;
}